<ion-header>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-center ion-text">
        Sistema de Asistencia DUOC
      </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-header>

<ion-content
  padding
  [fullscreen]="true"
  class="ion-padding-horizontal ion-padding-top"
>
  <div id="fondo">
    <ion-label class="title">
      <h1>Cambia tu Contraseña</h1>
    </ion-label>

    <ion-item class="ion-padding-bottom recover">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input disabled type="text" [(ngModel)]="usuario.nombreUsuario"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-bottom recover1">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-bottom recover2">
      <ion-label position="floating">Reingrese Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="rePassword"></ion-input>
    </ion-item>

    <button (click)="recuperar()" id="boton1" mat-raised-button>
      RECUPERAR
    </button>
  </div>
</ion-content>

<ion-footer>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-left ion-text"> </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-footer>
