<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center ion-text"> RegistroAPP </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  padding
  [fullscreen]="true"
  class="ion-padding-horizontal ion-padding-top"
>
  <ion-label class="title">
    <h1>Recuperar Contraseña</h1>
    <p>Ingrese su nombre de Usuario</p>
  </ion-label>

  <ion-item class="ion-padding-bottom recover">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input  type="text" [(ngModel)]="login.Usuario"></ion-input>
  </ion-item>

  <ion-item class="ion-padding-bottom recover">
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input  type="text" [(ngModel)]="login.Password"></ion-input>
  </ion-item>

  <ion-col id="boton">
    <ion-button shape="block" (click)="inicio()">RECUPERAR</ion-button>
  </ion-col>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text"> </ion-title>
  </ion-toolbar>
</ion-footer>
