<ion-header [translucent]="true">

  <ion-toolbar mode="ios">
    <ion-title class="tituloPrincipal">
      ¡Foro TODAY!
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-card>
      <ion-item lines="none">
        <span>
          Publicador:&nbsp;
        </span>
        <ion-select placeholder="Seleccione su usuario"
            class="ion-float-right"
            [(ngModel)]="selectedUserId"
            (ngModelChange)="cambiarUsuario($event)">
          <ion-select-option *ngFor="let u of usuarios" [value]="u.id">
            {{u.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <a id="topOfPage" href="#topOfPage"></a>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Ingresa tu publicación</ion-card-title>
      <ion-card-subtitle class="publicacionSeleccionada">{{publicacionSeleccionada}}</ion-card-subtitle>
    </ion-card-header>

    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating" color="Secondary">Título</ion-label>
      <ion-input [(ngModel)]="publicacion.title"></ion-input>
    </ion-item>

    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating" color="Secondary">Cuerpo</ion-label>
      <ion-textarea [(ngModel)]="publicacion.body"></ion-textarea>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col><ion-button shape="round" expand="block" (click)="limpiarPublicacion()">Limpiar</ion-button></ion-col>
        <ion-col><ion-button shape="round" expand="block" (click)="guardarPublicacion()">Guardar</ion-button></ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-card class="sin-bordes">
    <ion-card-title class="con-padding-top">Publicaciones recientes</ion-card-title>
  </ion-card>

  <ion-card *ngFor="let p of publicaciones; let i=index; trackBy: getIdentificadorItemPublicacion">

    <ion-card-header>
      <h6>(Publicación #{{p.id}}) {{p.name}}</h6>
      <h4>{{p.title}}</h4>
    </ion-card-header>
  
    <ion-card-content>
      {{p.body}}
    </ion-card-content>

    <ion-button (click)="editarPublicacion(p)">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="eliminarPublicacion(p)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>

  </ion-card>

</ion-content>
