<ion-header>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-center ion-text">
        Sistema de Asistencia DUOC
      </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-header>

<ion-content
  padding
  [fullscreen]="true"
  class="ion-padding-horizontal ion-padding-top"
>
  <ion-label class="title">
    <h1>Recuperar Contraseña</h1>
    <p>Ingrese su nombre de Usuario</p>
  </ion-label>

  <ion-item class="ion-padding-bottom recover">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <button (click)="inicio()" id="boton1" mat-raised-button>
    RECUPERAR
  </button>
</ion-content>

<ion-footer>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-left ion-text"> </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-footer>
