<ion-content>
  <ion-title class="ion-padding-top ion-text-center">Mis datos</ion-title>

  <br />

  <mat-card id="fondo" class="ion-padding-top">
    <mat-card-content>
      <ion-label>Rut: </ion-label>
      <ion-label *ngIf="persona">{{ persona.rut }}</ion-label>
    </mat-card-content>

    <mat-card-content>
      <ion-label>Nombre: </ion-label>
      <ion-label *ngIf="persona">{{ persona.nombre }}</ion-label>
    </mat-card-content>

    <mat-card-content>
      <ion-label>Numero: </ion-label>
      <ion-label *ngIf="persona">{{ persona.numero }}</ion-label>
    </mat-card-content>

    <mat-card-content>
      <ion-label>Email: </ion-label>
      <ion-label *ngIf="persona">{{ persona.email }}</ion-label>
    </mat-card-content>

    <mat-card-content>
      <ion-label>Carrera: </ion-label>
      <ion-label *ngIf="persona">{{ persona.carrera }}</ion-label>
    </mat-card-content>

    <mat-card-content>
      <ion-label>Sede: </ion-label>
      <ion-label *ngIf="persona">{{ persona.sede }}</ion-label>
    </mat-card-content>

    <br /><br /><br />

    <ion-fab
      vertical="bottom"
      horizontal="end"
      (click)="editarPerfil()"
      slot="fixed"
    >
      <ion-fab-button color="success">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </mat-card>

  <mat-card id="fondo" class="card ion-text-center">
    <button (click)="restablecerPassword()" mat-raised-button id="botonRestablecerPassword"> 
      <ion-icon name="key-outline"></ion-icon> Cambia tu contraseña
    </button>
  </mat-card>
</ion-content>
