<ion-header>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-center ion-text">
        Sistema de Asistencia DUOC
      </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-header>


<ion-footer>
  <button (click)="error()" id="boton1" mat-raised-button>
    Regresar
  </button>
  <ion-segment id="principal">
    <ion-toolbar color="Shade">
      <ion-title class="ion-text-left ion-text"> </ion-title>
    </ion-toolbar>
  </ion-segment>
</ion-footer>