<ion-content>
  <div class="ion-padding-top ion-padding-bottom ion-text-center title">
    <ion-label>
      <h1>Sistema de Asistencia DUOC</h1>
      <p>Registra tu asistencia</p>
    </ion-label>
  </div>

  <mat-card id="principal" class="ion-text-center login-card">
    <ion-card-title class="ion-text-center">
      <style>
        h2 {
          color: #ffffff;
        }
      </style>
      <ion-label>
        <h2>¡Bienvenido!</h2>
      </ion-label>
    </ion-card-title>

    <ion-card-content>
      <mat-form-field appearance="fill" id="login">
        <mat-label>Ingrese Usuario</mat-label>
        <input matInput placeholder="Ej: Juan" [(ngModel)]="usuario.nombreUsuario" />
      </mat-form-field>

      <mat-form-field appearance="fill" id="login">
        <mat-label>Ingrese Password</mat-label>
        <input
          matInput
          type="password"
          placeholder="4 digitos"
          [(ngModel)]="usuario.password"
        />
      <br>
      </mat-form-field>
      <button (click)="ingresar()" id="boton1" mat-raised-button>
        Ingresar
      </button>
      <br>
      <br>
      <button (click)="registrar()" id="boton2" mat-raised-button>
        Registrar
      </button>
    </ion-card-content>
    <ion-label>
      <br />
      <a id="cambiar" routerLink (click)="restablecer()"
        >Restablecer Contraseña</a
      >
    </ion-label>
  </mat-card>
</ion-content>
