ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
}
ion-item {
  --padding-bottom: 10px;
}
  #boton1 {
    background-color: #FFB800;
    width: 100%;
  }
  
  #boton2 {
    background-color: #FFB800;
    width: 100%;
    
  }
  
  #login {
    display: flex;
    justify-content: center;
  }

  #principal{
    background-color: #1A1A1A;
  }

  #fondo{
    background-color: #666666;
  }
  