<ion-header>
  <ion-toolbar>
    <ion-segment id="boton">
      <ion-title>Sistema de Asistencia DUOC</ion-title>
      <ion-button (click)="logout()" id="botonsalir" fill="outline">
        Salir
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment id="boton" [value]="valueSelected" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="principal">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button value="perfil">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-segment-button>

      <ion-segment-button value="apiclient">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Comentarios</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-segment id="boton">
    <ion-title class="ion-text-end ion-text footer">Version 2.0</ion-title>
  </ion-segment>
</ion-footer>
